//BASE CSS
$header-background:#e62452;
$background_color: #d5bfc4;
$primary_color: #ffffff;
$button_color_hover:#e0456a;
$secondary_color: #eee;
$page_width: 300px;
 

//fonts

$helvetica: "helvetica neue", arial, helvetica, freesans, "liberation sans", "numbus sans l", sans-serif;

$geneva: geneva, tahoma, "dejavu sans condensed", sans-serif;

$lucida: "lucida grande", "lucida sans unicode", "lucida sans", lucida, sans-serif;

$verdana: verdana, "bitstream vera sans", "dejavu sans", "liberation sans", geneva, sans-serif;

$cambria: cambria, georgia, "bitstream charter", "century schoolbook l", "liberation serif", times, serif;

$palatino: "palatino linotype", palatino, palladio, "urw palladio l", "book antiqua",
           "liberation serif", times, serif;

$times: times, "times new roman", "nimbus roman no9 l", freeserif, "liberation serif", serif;

$courier: "courier new", courier, freemono, "nimbus mono l", "liberation mono", monospace;

$monaco: monaco, "lucida console", "dejavu sans mono", "bitstream vera sans mono", "liberation mono",
monospace;

/* NEW DESIGN BODY */

body {
// Set the background color
	background: $background_color;
	@include font_properties (300, 10px, "lato");
	overflow: hidden;
	#wrapper {
		@extend .container;
		background: white;
		border: $secondary_color;
		h1 {
			color: $primary_color; 
		}	 
	} 
	
}
